/* Adjust services We Do items spacing */
#services .items .item {
  padding: 2rem;
}

/* Increase about We Are image ratio */
#about .about-img {
  flex: 2;
}

#about .about-text {
  flex: 1;
}

/* Make the contact form take up more space */
#contact .map {
  flex: 2;
}

#contact .contact-form {
  flex: 1;
} 
#showcase 
{
  background: #333 url('./pictures/steptodown.com347462.jpg') no-repeat center center/cover;
}
#about .about-img {
  background: url('./pictures/360_F_301481839_p4RvuPBeFTeNvDXyl2ez822gZhQ7ZWEF.jpg') no-repeat center center/cover;
}
#navbar
{
  position: sticky;
}
#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}
#clients .items
{
  animation: slideFromLeft;
}